@page
@model DetailsModel
@{
    ViewData["Title"] = "Blood Request Details";
}

<h1>Blood Request Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodRequest.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodRequest.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodRequest.BloodGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodRequest.BloodGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodRequest.UnitsNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodRequest.UnitsNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodRequest.UrgencyLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodRequest.UrgencyLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodRequest.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodRequest.RequestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BloodRequest.Id" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>